# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

#Ignore vagrant
/.vagrant

node_modules/

#ignore moodle
moodledata/
!/www/moodle/theme/saladevisitas/
/www/moodle/theme/saladevisitas/style/moodle.css
/www/moodle/admin/
/www/moodle/auth/
/www/moodle/backup/
/www/moodle/badges/
/www/moodle/blocks/
/www/moodle/blog/
/www/moodle/cache/
/www/moodle/calendar/
/www/moodle/cohort/
/www/moodle/comment/
/www/moodle/completion/
/www/moodle/course/
/www/moodle/enrol/
/www/moodle/error/
/www/moodle/files/
/www/moodle/filter/
/www/moodle/grade/
/www/moodle/group/
/www/moodle/install/
/www/moodle/iplookup/
/www/moodle/lang/
/www/moodle/lib/
/www/moodle/local/
/www/moodle/login/
/www/moodle/message/
/www/moodle/mnet/
/www/moodle/mod/
/www/moodle/my/
/www/moodle/notes/
/www/moodle/pix/
/www/moodle/plagiarism/
/www/moodle/portfolio/
/www/moodle/question/
/www/moodle/rating/
/www/moodle/report/
/www/moodle/repository/
/www/moodle/rss/
/www/moodle/tag/
/www/moodle/user/
/www/moodle/userpix/
/www/moodle/webservice/
/www/moodle/*.php
/www/moodle/*.json
/www/moodle/*.txt
/www/moodle/*.dist
/www/moodle/.jshintrc
/www/moodle/theme/afterburner/
/www/moodle/theme/anomaly/
/www/moodle/theme/arialist/
/www/moodle/theme/base/
/www/moodle/theme/binarius/
/www/moodle/theme/bootstrapbase/
/www/moodle/theme/boxxie/
/www/moodle/theme/brick/
/www/moodle/theme/canvas/
/www/moodle/theme/clean/
/www/moodle/theme/formal_white/
/www/moodle/theme/formfactor/
/www/moodle/theme/fusion/
/www/moodle/theme/leatherbound/
/www/moodle/theme/magazine/
/www/moodle/theme/mymobile/
/www/moodle/theme/nimble/
/www/moodle/theme/nonzero/
/www/moodle/theme/overlay/
/www/moodle/theme/serenity/
/www/moodle/theme/sky_high/
/www/moodle/theme/splash/
/www/moodle/theme/standard/
/www/moodle/theme/standardold/
/www/moodle/theme/*.php
/www/moodle/theme/*.txt

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
