.course_category_tree {
	.content {
		a {
			display: block;
			//background: red;
		}
		.coursebox > .info > .name, .coursebox .content .teachers, .coursebox .content .courseimage, .coursebox .content .coursefile {
			float: none;
			width: 100%;
		}
	}
}