//css da pagina principal
.main-front-page{
	width: 100%;
	background-color: @color-frontpage;

	.front-page-logo {
	    width: 15em;
	    position: relative;
	    top:11px;
	    .svg path {fill: #fff !important;}
	}
}