// Header do tema

#page-header {
    height: 144px;
    width: 100%;
    margin:0 auto;
    /*background: #fff;*/
    /*background: url([[pix:theme|images/topo]]) no-repeat center center;*/
    position: relative;
	/*margin-bottom: 10px;*/
	/*left: 8px;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 0px;
    margin-bottom: 28px;
    
}

