// Header do tema

.breadcrumb {
	padding: 0px !important;
	float: none;

	ul {

		border-bottom: 1px solid #dddddd;
		border-top: 1px solid #dddddd;

		li {
			display: inline-block !important;
			-webkit-transform: skewX(-10deg);
			-moz-transform: skewX(-10deg);
			-ms-transform: skewX(-10deg);
			-o-transform: skewX(-10deg);
			transform: skewX(-10deg);
			border-left: 1px solid #dddddd;
			border-right: 1px solid #dddddd;

			a {
				padding: 10px 20px;
			}
		}

	}

}
   
#page-header {
    height: 73px;
    width: 100%;
    margin:0 auto;
    border-top:5px solid @color-logo-base;
    border-bottom: 1px solid @color-sub-title;
    padding: 5px 0;
    position: relative;
	bottom: 0px;
    //margin-bottom: 28px; 

    .logo {
	    width: 103px;
	    height: 40px;
	    display: block;
	    margin:0;
	    top:4px;
	    float: left;
	    //background: url([[pix:theme|images/logo]]) no-repeat;
	    position: relative;
	    margin-right: 20px;
	    color: #5180a3;
	    .svg path {fill: #5180a3 !important;}
	}
	.img-logo{ 

	}
	.logo-senai{
		height: 41px;
		width: 195px;
		float: left;
	}
}

.header-menu {
    float: right;
    position: relative;
    text-align: center;
}

.btn-login{
	border-radius: 0 !important;
	background-color: darken(@color-base,22%) !important;
	-webkit-box-shadow:  2px 2px 5px 0px rgba(50, 50, 50, 0.75) !important;
	-moz-box-shadow:     2px 2px 5px 0px rgba(50, 50, 50, 0.75) !important;
	box-shadow:          2px 2px 5px 0px rgba(50, 50, 50, 0.75) !important;
}

.login-div{
	margin-top: 5px;
}
//modal do topo
.yui3-panel {
          outline: none;
}
.yui3-panel #panelContent {
  -webkit-box-shadow: 0px 0px 2px black;
  -moz-box-shadow: 0px 0px 2px black;
  box-shadow: 0px 0px 2px black;
}
.yui3-panel #panelContent .yui3-widget-hd {
  font-weight: bold;
  padding: 5px;
}

#panelContent .yui3-widget-bd {
  padding: 15px;
  background: white;
  text-align: center;
}

#panelContent.yui3-widget-loading {
  display: none;
}

.yui3-skin-sam .yui3-widget-mask {
  opacity: 0.9;
}


