/* Esqueleto do tema */
* {
    padding: 0px;
    margin: 0px;
}

html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    background: none;
    height: 100%;
}
body {
    font-family: 'Roboto' !important;
    margin: 0 auto;
    padding: 0;
    /*background: #fff url([[pix:theme|core/bg]]) no-repeat fixed;*/
    background-position:center top; 
    height: 100%;
    color:#4b4b4b;
}

#topo-flutuante{
    min-height: 40px;
    padding-bottom: 5px;
    width: 100%;
    background: url([[pix:theme|images/light3]]) 0 -68px repeat-x;
    position: fixed;
    z-index: 1;
    border-bottom: 2px solid #d7d7d7;
    opacity:0.95;
    -moz-opacity: 0.95;
    filter: alpha(opacity=95);
    float:left;
    margin: 0;
    left:0;
    top: 0;
}

/*.barra-superior{
    height: 28px;
    width: 100%;
    position:relative;
    background-color: #18519a;
    color: white;
    border-bottom: solid 6px #d98235; 
    top:0;
}*/


#page-wrapper {
    width: 100%;
    margin: 0 auto;
    /*background: url([[pix:theme|images/filete]]) repeat-y transparent;*/
    border: 0;
    position: relative;
    // z-index: 0;
    
}
#page {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    padding:0;
    
}
#container{

}

.container-fluid {
    max-width: 1680px;
    margin: 0 auto;
}

#navsearchbox{
   width: 50%; 
}
#intro{
    border:none; //ainda em avalização
}

.generalbox{
    border:none !important;
}
/*
3 Column Page Layout
-----------------------*/
#page-content {
    position:relative;    /* fixes IE7 overflow hidden bug stoping layout jumping out of place */
    min-height: 100%;
    clear:both;
    /*float:left;*/
    width:100%;            /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
   /* background:#EEEEEE;        /* Left column background colour */


    /*border: 2px solid #d7d7d7;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #FFF;
    behavior: url([[pix:theme|images/border-radius]]);
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    behavior: url([[pix:theme|images/ie-css3]]);
    /*top:10px;*/
    /*padding: 0 15px 10px 15px;*/
}
#region-main-box {
    float:left;
    width:200%;
    position:relative;
    left:220px;
    background: #fff;        /* Centre column background colour */
    margin-bottom: 40px;
}
#region-post-box {
    float:left;
    width:100%;
    position:relative;
    left:50%;
    margin-left: -440px;
    /*background: #eee;*/        /* Right column background colour */
    background: #FFF;
}
#region-main-wrap {
    float:right;
    width:50%;
    position:relative;
    right:100%;
}
#region-main-pad {
    margin:0 10px 0 450px;
    overflow:hidden;
}
#region-main {
    width:100%;
    overflow:hidden;
    min-height: 323px;
}
#region-pre {
    float:left;
    width:220px;
    position:relative;
    margin-left:-50%;
    left:220px;
    overflow:hidden;
}
#region-post {
    float:left;
    width:220px;
    position:relative;
    left:0px;
    overflow:hidden;
}
.region-content{
    background-color: #FFF;
}

#page-content #region-main-box .region-content {
    margin:0 3px;
    padding:0;
}
#page-site-index .headingblock {
    margin-bottom:9px;
    margin-left: 3px;
}
#page-footer {
    clear:both;
    float:left;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-top: 1px dotted #ccc;
    border-bottom: 5px solid #EBEBEB;
}
/*
Block Region Layout
-----------------------*/
#region-pre .block-region {
    float: left;
    width: 220px;
    margin: 0;
    padding: 0;
}
#region-post .block-region {
    float: right;
    width: 220px;
    margin: 0;
    padding: 0;
}
/*
PLEASE DO NOT ALTER THESE SETTINGS UNLESS YOU KNOW WHAT YOU ARE DOING AS IT WILL BREAK PAGE LAYOUT
------------------------------------------------------------------------------------------------*/
/*
SIDE-PRE-ONLY (Left Column + Middle Column)
---------------------------*/
.side-pre-only #region-main-box {width: 200%; left: 220px;}
.side-pre-only #region-post-box {width: 100%; left: 50%; margin-left: -220px; background-color: #fff;}
.side-pre-only #region-main-wrap {width: 50%; right: 100%;}
.side-pre-only #region-main-pad {margin: 0px 10px 0px 230px;}
.side-pre-only #region-main {width: 100%;}
.side-pre-only #region-pre {width: 220px; left: 0px; margin-left:-50%;}
.side-pre-only #region-post {width: 0px; left: 0px;}
/*
SIDE-POST-ONLY (Middle Column + Right Column)
----------------------------*/
.side-post-only #page-content { background-color: #fff;}
.side-post-only #region-main-box {width: 200%; left: 220px;}
.side-post-only #region-post-box {width: 100%; left: 50%; margin-left: -440px;}
.side-post-only #region-main-wrap {width: 50%; right: 100%;}
.side-post-only #region-main-pad {margin: 0px 10px 0px 230px;}
.side-post-only #region-main {width: 100%;}
.side-post-only #region-pre {width: 0px;left: 0px;}
.side-post-only #region-post {width: 220px; left: 0px;}
/*
CONTENT ONLY - NO SIDE BLOCKS WHATSOEVER (Middle Column Only)
--------------------------------------------------------*/
.content-only #page-content { background-color: #fff;}
.content-only #region-main-box {width: 200%; left: 0px;}
.content-only #region-post-box {width: 100%; left: 50%; margin-left: 0px; background-color: #fff;}
.content-only #region-main-wrap {width: 50%; right: 100%;}
.content-only #region-main-pad {margin: 0px 10px 0px 10px;}
.content-only #region-main {width: 100%}
.content-only #region-pre { width:0;left:0;}
.content-only #region-post { width: 0;left:0;}

/*Personalização PNEAD*/

div.yui-layout-bd {
    background-color:#fff !important;
    border: none !important;
}

//tables
@moodle-table-striped: true;
@moodle-table-hover: true;

.path-rating .ratingtable,
table.flexible,
.generaltable {
    .table;
}

& when (@moodle-table-striped) {
    .path-rating .ratingtable,
    table#explaincaps,
    table#defineroletable,
    table.grading-report,
    table#listdirectories,
    table.rolecaps,
    table.userenrolment,
    table#form,
    form#movecourses table,
    #page-admin-course-index .editcourse,
    .forumheaderlist,
    table.flexible,
    .generaltable {
        .table-striped;
    }
}

& when (@moodle-table-hover) {
    .user-enroller-panel .uep-search-results .users,
    table.grading-report,
    .forumheaderlist,
    .generaltable,
    table.flexible,
    table#permissions {
        .table-hover;
    }
}

#page-report-loglive-index .generaltable,
#page-admin-report-log-index .generaltable,
#page-report-log-index .generaltable,
#page-report-log-user .generaltable,
#page-admin-user table {
    .table-condensed;
}

table.flexible .emptyrow {
    display: none;
}

.left_scroller,
.right_scroller {
    .generaltable {
        th, td {
            line-height: @line-height-computed;
            box-sizing: content-box;
        }
    }
}



//-------NAVS---------------
// Prevents weird looking tabs on big reports
.nav-justified > li > a {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 1px;
    white-space: nowrap;
}

// Give a little padding to multi row tabs
.nav-justified {
    padding: 10px 0 0 0;
}

.nav-justified {
    // Reset tabs to collapsed on @screen-sm-min sizes.
    @media (min-width: @screen-sm-min) {
      > li {
        display: block;
        width: 100%;
        float: none;
         > a {
          text-align: center;
          margin-bottom: 5px;
        }
      }
    }
    // Ok to show tabs on medium screens
    @media (min-width: @screen-md) {
        border: 0;
        border-radius: 0;
        > li {
          display: table-cell;
          width: 1%;
          > a {
            margin-bottom: 0;
          }
        }
    }
}



.nav-tabs-justified {
  > li > a {
    // Override margin from .nav-tabs
    margin-right: 1px;
    border-radius: @border-radius-base;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid @nav-tabs-justified-link-border-color;
  }

  @media (min-width: @screen-sm-min) {
    > li > a {
      border: 1px solid @nav-tabs-justified-link-border-color;
      border-radius: @border-radius-base;
    }
  }
  @media (min-width: @screen-md-min) {
    > li > a {
      border-bottom: 1px solid @nav-tabs-justified-link-border-color;
      border-radius: @border-radius-base @border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: @nav-tabs-justified-active-link-border-color;
    }
  }
}