//Importação dos arquivos

//variaveis globais do tema
@font-base: Helvetica,Arial,sans-serif;
@color-logo-base:#0B45BB;
@color-base:#336a93;
@color-sub-title:#2D81A6;

@import "mixins.less";

@import "styles.less";
@import "layout.less";
@import "blocks.less";
@import "header.less";
@import "center.less";
@import "footer.less";

//import boostrap
@import "bootstrap/bootstrap.less";
